<.flash_group flash={@flash} />
<div id="projects">
  <h1>Projects</h1>
  <ul class="grid grid-rows-4 grid-flow-col gap-4">
    <li>
      <.link href={~p"/light"}>🔦 Light</.link>
    </li>
    <li>
      <.link href={~p"/sandbox"}>🏝 Sandbox</.link>
    </li>
    <li>
      <.link href={~p"/sales"}>📊 Sales</.link>
    </li>
    <li>
      <.link href={~p"/bingo"}>🎴 Bingo</.link>
    </li>
    <li>
      <.link href={~p"/flights"}>✈️ Flights</.link>
    </li>
    <li>
      <.link href={~p"/vehicles"}>🚙 Vehicles</.link>
    </li>
    <li>
      <.link href={~p"/boats"}>🚤 Boats</.link>
    </li>
    <li>
      <.link href={~p"/athletes"}>🏅 Athletes</.link>
    </li>
    <li>
      <.link href={~p"/servers"}>👨‍💻 Servers</.link>
    </li>
    <li>
      <.link href={~p"/donations"}>🍞 Donations</.link>
    </li>
    <li>
      <.link href={~p"/pizza-orders"}>🍕 Pizza orders</.link>
    </li>
    <li>
      <.link href={~p"/volunteers"}>🙋‍♀️Volunteers</.link>
    </li>
    <li>
      <.link href={~p"/topsecret"}>🕵🏼 TopSecret</.link>
    </li>
    <li>
      <.link href={~p"/presence"}>👀 Presence</.link>
    </li>
    <li>
      <.link href={~p"/bookings"}>📅 Bookings</.link>
    </li>
    <li>
      <.link href={~p"/shop"}>🛒 Shop</.link>
    </li>
    <li>
      <.link href={~p"/juggling"}>🤹🏻‍♂️ Juggling</.link>
    </li>
    <li>
      <.link href={~p"/desks"}>🖥️ Desks</.link>
    </li>
  </ul>
</div>
